.popup {
        display: flex;
        flex-direction: column;
        background-color: $color-background-surface;
        width: 172rem;
        border: .2rem solid $color-black;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        padding: 3rem;

}
