$color-primary1: #23404F;
$color-primary2: #305364;
$color-secondary1: #B1DFDC;
$color-secondary2: #E0F2F2;
$color-tertiary1: #BF4D00;
$color-tertiary2: #FF9863;
$color-background-surface: #F8F8F2;
$color-error: #96001C;

$color-logo-darkgrad1: #538A8E;
$color-logo-darkgrad2: #45777F;
$color-logo-darkgrad3: #386470;
$color-logo-darkgrad4: #2D5260;
$color-logo-darkgrad5: #23404F;

$color-logo-lightgrad1: #B1DFDC;
$color-logo-lightgrad2: #A5DAD7;
$color-logo-lightgrad3: #98D5D1;
$color-logo-lightgrad4: #8BD0CC;
$color-logo-lightgrad5: #7ECBC6;

$color-welcome-grad1: #F8F8F2;
$color-welcome-grad2: #EBF1E6;
$color-welcome-grad3: #DAEBDE;
$color-welcome-grad4: #C6E5DB;
$color-welcome-grad5: #B1DFDC;

$color-text: #122C38;


$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
$content-font-size: 1.4rem;

//GRID
$grid-width: 100vw;
$gutter-vertical: 1.6rem;
$gutter-vertical-small: .6rem;
$gutter-horizontal: 1.6rem;
